.ChatMain
  .ChatHeader
    .ChatHeader__Left
      .ChatHeader__Group
        test
      .ChatHeader__Member
        Member : ryota
    .ChatHeader__Rigth
      .ChatHeader__EditOut
        .ChatHeader__EditIn
          = link_to "Edit", "#", class: "Editlink"
  .ChatMessage
    .ChatMessage__List

  .ChatForm