.SideBar
  .SideHeader
    .SideHeader__UserList
      .SideHeader__UserName
        ryota
      .SideHeader__IconList
        .SideHeader__Icons
          = link_to "#", class: "SideHeader__IconGroup" do
            = icon('far', 'edit', class: "SideHeader__IconGroup--btn")
            %span<>
          = link_to "#", class: "SideHeader__IconEdit" do
            = icon('fas', 'cog', class: "SideHeader__IconEdit--btn")
  .SideGroup

